{% url 'home' as home_url %}
{% url 'about' as about_url %}
{% url 'contact' as contact_url %}
{% url 'login' as login_url %}
{% url 'register' as register_url %}
{% url 'posts:list' as posts_url %}



<li class="nav-item {% if request.path == home_url %}active{% endif %}">
  <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
</li>
<li class="nav-item {% if request.path == posts_url %}active{% endif %}">
  <a class="nav-link" href="{{ posts_url }}">Posts</a>
</li>
<li class="nav-item {% if request.path == contact_url %}active{% endif %}">
    <a class="nav-link" href="{{ contact_url }}">Contact</a>
</li>
{% if request.user.is_authenticated %}
<li class="nav-item {% if request.path == login_url %}active{% endif %}">
    <a class="nav-link" href="{{ login_url }}">Logout</a>
</li>
{% else %}
<li class="nav-item {% if request.path == register_url %}active{% endif %}">
    <a class="nav-link" href="{{ register_url }}">Register</a>
</li>
<li class="nav-item {% if request.path == login_url %}active{% endif %}">
    <a class="nav-link" href="{{ login_url }}">Login</a>
</li>
{% endif %}
<li class="nav-item {% if request.path == about_url %}active{% endif %}">
    <a class="nav-link" href="{{ about_url }}">About</a>
</li>